/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    font-size: 1.2rem;
    color: #23272a;
}

a {
    text-decoration:none;
    color: white;
    font-size: 1rem;
}

a:hover {
    text-decoration: underline;
  }


footer {
    background-color: #23272a;
}

h1 {
    font-size: 3.8rem;
    font-weight: 700;
    padding-bottom: 3rem;
}

h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    padding-bottom: 2rem;
}

p{
    line-height: 1.7rem;
}

.flex {
    display: flex;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container-small {
    max-width: 680px;
    margin: 0 auto;
    align-items: center;
    padding: 50px 0 100px;
}

.text-white {
    color: white;
}

.text-center-align {
    text-align: center;
}

.bordi-neri{
    border: 2px dashed black;
}

.bordi-bianchi {
    border: 2px dashed white;
}

/* Header */

.header-top {
    background-color: #255ee9;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav {
    align-items: center;    
}

.logo {
    width: 20%;
    padding: 9px;
}

.nav-menu{
    list-style-type: none;
    gap: 2rem;
    width: 60%;
    padding: 9px;
    justify-content: center;
}

.nav-login {
    width: 20%;
    justify-content: flex-end;
    padding: 9px;
    text-align: right;
}

.nav-button-container{
    width: 20%;
    justify-content: flex-end;
}

.button-white-small {
    padding: 6px 15px;
    background-color: white;
    border: none;
    border-radius: 14px;
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
}

.button-white-big:hover , .button-white-small:hover{
    color: #6f86d5;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    /* Box Shadow Credits: Tailwind CSS  */
}

.button-white-big {
    padding: 14px 30px;
    background-color: white;
    border: none;
    border-radius: 24px;
    font-family: 'Cabin', sans-serif;
    font-size: 1.2rem;
    margin: 20px 10px;
}

.header-bottom {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

/* Main Section  */

.main-row {
    padding: 100px 0 50px;
}

.container-white{
    align-items: flex-start;
    justify-content: center;
}

.container-reverse {
    flex-direction: row-reverse;
}

.main-txt-row {
    flex-basis: 60%;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 5rem;
}

.main-img-row {
    height: 430px;
    flex-basis: 40%;
}

.main-big-content-row.flex{
    padding-top: 45px;
    padding-bottom: 45px;
    justify-content: center;
    align-items: center;
}

.main-big-content-container{
    background-color: #228b22;
    flex-basis: 100%;
    height: 750px;
}

.footer-top {
    padding-top:5px;
    padding-bottom: 30px;
}

.footer-top-container {
    height: 520px;
    /* flex-direction: column; */
}

.footer-top-big-column {
    background-color: #f08080;
    flex-basis: calc((100% / 6) + (100% / 6));
}

.footer-top-small-column {
    background-color: #20b2aa;
    flex-basis: calc(100% / 6);
}

.footer-bottom {
    padding-top: 25px;
}

.footer-bottom-container {
    height: 70px;
    background-color: #7fffd4;
    align-items: center;
    justify-content: space-between;
}

.footer-link {
    padding: 5px;
}

/* Colori  */

.dark-grey {
    background-color: #23272a;
}

.pink {
    background-color: #ffb6c1 ;
}

.grey {
    background-color: #f6f6f6;
}
/* Colori:
header top: #add8e6
nav: #daa520
header blu: #00008b
header rosa: #ee82ee

main blu: #1e90ff
main rosa: #ffc0cb
main grigio: #d3d3d3
main verde: 

footer grigio: #23272a
footer rosa: #f08080    
footer verde: #20b2aa
footer down: #7fffd4
footer bottoni: #ffb6c1 */